@import '../../global.scss';

.menu {
    width: 300px;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 30px;
    right: -300px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;

    &.active {
        right: 0;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 40px;
        color: $mainColor;
        width: 60%;

        li {
            margin-bottom: 25px;

            a {
                font-size: inherit;
                color: inherit;
                text-decoration: none;
                font-weight: 300;

                &:hover {
                    font-weight: 500;
                    color: #6F9DE0;
                }
            }
        }
    }
}