@import '../../global.scss';

.about {
    height: 100vh;

    .text-box {
        height: 50vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        @include for-medium-screens {
            width: 50vw;
        }

        .title {
            color: $secondaryColor;
            font-size: 6rem;
            text-align: center;
            box-shadow: 0 0 5px 5px;
            width: 85%;
            font-family: 'Caveat', cursive;
            font-weight: 700;
        }
    
        .line-break {
            height: 2.5px;
            width: 85%;
            background-color: $paragraphColor;
            border-radius: 25%;

            @include for-tablet-landscape-up {
                display: none;
            }
        }
    }

}