@import '../../global.scss';

.about {
    height: 100vh;
    width: 100vw;

    .text-box {
        width: 95vw;
        display: grid;
        padding-top: 3rem;
        grid-template-columns: 95vw;
        align-items: center;
        margin: auto;
        grid-row-gap: 0;

        > * {
            margin: 0 auto 2.5rem;

            @include for-medium-screens {
                margin: 0 auto;
            }
        }

        @include for-medium-screens {
            justify-content: left;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 25vh repeat(5, 1fr);
            grid-row-gap: 2rem;
        }

        .title {
            color: $secondaryColor;
            width: 30vw;
            font-size: 4.5rem;
            text-align: center;
            box-shadow: 0 0 5px 5px;
            font-family: 'Caveat', cursive;
            font-weight: 700;
            padding: 0.5rem 6.5rem;

            @include for-medium-screens {
                width: 25vw;
            }
        }

        .about-box {
            @include for-tablet-landscape-up {
                grid-row-start: 1;
                grid-row-end: 2;
            }
        }

        .headline {
            padding: 0 2rem;

            @include for-tablet-landscape-up {
                grid-row-start: 1;
                grid-row-end: 2;
                grid-column-start: 2;
            }

            h3 {
                color: $introColor;

                 @include for-tablet-landscape-up {
                    font-size: 1.2rem;
                 }

                 @include for-desktop-up {
                     font-size: 1.6rem;
                 }
            }
        }

        .detailed {
            padding: 0 2rem;

            @include for-tablet-landscape-up {
                grid-row-start: 2;
                grid-row-end: 6;
            }

            p {
                color: $paragraphColor;
                font-size: 1.7rem;
                margin-bottom: 4rem;

                @include for-tablet-landscape-up {
                    text-indent: 25px;
                }
            }
        }

        .skills-title-box {
            @include for-tablet-landscape-up {
                grid-column-start: 2;
                grid-row-start: 2;
                grid-row-end: 3;
            }
        }

        .skills-box {
            color: $introColor;

            @include for-tablet-landscape-up {
                grid-row-start: 3;
                grid-row-end: 6;
            }
        }
    }
}