@import '../../global.scss';


.intro {
    overflow: hidden;
    position: relative;
    background-image: url(./desk.jpg);
    background-color: black;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    .text-box{
        h2 {
            font-size: 5rem;
            text-align: left;
            margin-left: 0.7rem;
            color: rgb(243, 246, 247);
            overflow-y: hidden;

            @include for-phone-only {
                line-height: 5rem;
             }

            @include for-phone-landscape {
                font-size: 2.5rem;
            }

             @include for-desktop-up {
                 font-size: 7.7rem;
             }
        }

        .name {
            color: $mainColor;
            font-weight: bold;

            @include for-phone-only {
                font-size: 4.1rem;
             }

            @include for-tablet-landscape-up {
                font-size: 7rem;
            }

            @include for-desktop-up {
                color: $mainColor;
                font-size: 10rem;
            }
        }
    }

    .about-me {
        position: absolute;
        left: 4%;
        margin-top: 1rem;

        @include for-tablet-portrait-up {
            left: 1.7%;
            //margin-top: 3rem;
        }

        @include for-tablet-landscape-up {
            left: 2%;
            margin-top: 1rem;
        }

        @include for-desktop-up {
            left: 1%;
        }

        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: left;

            li {
                animation: fadeIn 2s;
                opacity: 1;
                font-size: 1.45rem;
                margin-bottom: 0.8rem;
                color: white;
                
                @include for-tablet-portrait-up {
                    font-size: 2.2rem;
                }

                @include for-tablet-landscape-up {
                    font-size: 2.7rem;
                }

                @include for-phone-landscape {
                    font-size: 1.5rem;
                }
            }
        }
    }

    .skillset {
        position: absolute;
        bottom: 20%;

        @include for-phone-only {
            left: 17%;
        }

        @include for-tablet-portrait-up {
            left: 25%;
            bottom: 10%;
        }

        @include for-tablet-landscape-up {
            left: 28%;
            bottom: 2%;
        }

        @include for-desktop-up {
            left: 35%;
        }

        @include for-phone-landscape {
            left: 60%;
        }

        a {
            text-decoration: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: $mainColor;
            border-radius: 5px;
            color: white;
            padding: 4px;

            @include for-tablet-portrait-up {
                font-size: 1.5rem;
                padding: 10px;
            }

            @include for-tablet-landscape-up {
                font-size: 2rem;
            }

            @include for-phone-landscape {
                font-size: 1rem;
            }

            &:hover {
                color: $mainColor;
                background-color: white;
            }
        }
    }
}