@import '../../global.scss';


.intro {
    position: relative;
    
    .bg {
        position: relative;
        overflow: hidden;
        margin: -20px -20px;
        height: 100vh;
        background-color: black;
        /*
        background-image: url(./desk.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: blur(8px);
        */
    }

    .text-box{
        position: absolute;
        width: 100vw;
        top: 70px;
        left: 50%;
        transform: translate(-50%, 0%);

        h2 {
            padding-top: 70px;
            text-align: center;
            color: lightgray;

            @include for-phone-landscape {
                font-size: 2.5rem;
            }

             @include for-desktop-up {
                 font-size: 5rem;
             }
        }

        .name {
            color: $mainColor;
            font-weight: bold;
            padding-top: 0;
            padding-bottom: 20px;

            @include for-phone-only {
                font-size: 3rem;
             }

            @include for-tablet-landscape-up {
                font-size: 4rem;
            }

            @include for-desktop-up {
                color: $mainColor;
                font-size: 5rem;
            }
        }

        .about-me {
            position: static;
            text-align: center;
            margin-top: 1rem;
    
            ul {
                list-style: none;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
    
                li {
                    animation: fadeIn 2s;
                    opacity: 1;
                    font-size: 1.45rem;
                    margin: 0 15px;
                    color: white;
                    
                    @include for-tablet-portrait-up {
                        font-size: 2.2rem;
                    }
    
                    @include for-tablet-landscape-up {
                        font-size: 2rem;
                    }
    
                    @include for-phone-landscape {
                        font-size: 1rem;
                    }
    
                    &::before {
                        content: "*";
                    }
                }
            }
        }
    }
}