@import '../../global.scss';


.intro {
    //overflow: hidden;
    position: relative;
    background-image: url(./desk.jpg);
    background-color: black;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    .text-box{
        padding: 5px;
        h2 {
            font-size: 5rem;
            text-align: left;
            color: rgb(243, 246, 247);
            overflow-y: hidden;

            @include for-phone-only {
                line-height: 4rem;
             }

            @include for-phone-landscape {
                font-size: 2.5rem;
            }

             @include for-desktop-up {
                 font-size: 7rem;
             }
        }

        .name {
            color: $mainColor;
            font-weight: bold;

            @include for-phone-only {
                font-size: 4.1rem;
             }

            @include for-tablet-landscape-up {
                font-size: 7rem;
            }

            @include for-desktop-up {
                color: $mainColor;
                font-size: 9rem;
            }
        }
    }

    .about-me {
        position: absolute;
        left: 4%;
        margin-top: 1rem;

        @include for-tablet-portrait-up {
            left: 1.7%;
            //margin-top: 3rem;
        }

        @include for-tablet-landscape-up {
            left: 2%;
            margin-top: 1rem;
        }

        @include for-desktop-up {
            left: 1%;
        }

        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: left;

            li {
                animation: fadeIn 2s;
                opacity: 1;
                font-size: 1.45rem;
                margin-bottom: 0.8rem;
                color: white;
                
                @include for-tablet-portrait-up {
                    font-size: 2.2rem;
                }

                @include for-tablet-landscape-up {
                    font-size: 2.7rem;
                }

                @include for-phone-landscape {
                    font-size: 1.5rem;
                }
            }
        }
    }
}