@import '../../global.scss';


.intro {
    overflow: hidden;
    position: relative;
    background-image: url(./desk.jpg);
    background-color: black;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    .text-box{
        h2 {
            font-size: 5rem;
            text-align: left;
            margin-left: 1rem;
            color: rgb(243, 246, 247);

            @include for-phone-only {
                line-height: 5rem;
             }
        }

        .name {
            color: $mainColor;
            font-size: 8rem;
            font-weight: bold;

            @include for-phone-only {
                font-size: 4.1rem;
             }
             

            @include for-tablet-portrait-up {
                font-size: 7rem;
                color: red;
            }

            @include for-tablet-landscape-up {
                color: white;
            }

            @include for-desktop-up {
                color: green;
            }
        }

        
    }

    .about-me {
        position: absolute;
        left: 5%;
        margin-top: 1rem;

        ul {
            list-style: none;

            li {
                animation: fadeIn 2s;
                opacity: 1;
                font-size: 1.45rem;
                margin-bottom: 0.8rem;
                color: rgb(255, 255, 255);
            }
        }
    }

    .skillset {
        position: absolute;
        bottom: 20%;
        left: 10%;

        a {
            text-decoration: none;
            color: $mainColor;
            display: flex;
            flex-direction: column;
            align-items: center;

            &:hover {
                color: white;
            }
        }
    }
}