@import "./global.scss";

.App {
    background-color: $backgroundColor;
    overflow-y: scroll;
    scroll-behavior: smooth;

    .scroll {
        display: none;

        @include for-tablet-landscape-up {
            display: inline;
        }
    }
}