@import "./global.scss";

.App {
    background-color: $backgroundColor;

    .scroll {
        display: none;

        @include for-tablet-landscape-up {
            display: inline;
        }
    }
}