$secondaryColor: #cde6f5;
//$secondaryColor: #467599;
$backgroundColor: #0a192f;
$gold: #ffd700;

@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
}
  
@mixin for-medium-screens {
    @media (min-width: 600px) { @content; }
}

@mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
}

@mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
}

@mixin for-phone-landscape {
    @media (max-height: 420px) { @content; }
}