@import '../../global.scss';

.navbar {
    background-color: black;
    color: white;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 3;
    overflow-y: hidden;
    transition: all 1s ease;

    .wrapper {
        //padding: 10px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left {
            display: flex;
            align-items: center;

            a {
                img {
                    padding: 5px 5px;
                    height: 70px;
                    width: 125px;
                    margin-right: 30px;
                }
            }

            .itemContainer {
                display: flex;
                align-items: center;
                margin-right: 30px;
            }

            .icon {
                font-size: 20px;
            }

            span {
                font-size: 15px;
                margin-left: 2px;
                font-weight: bold;
            }
        }

        .right {
            margin-right: 15px;

            .hamburger {
                width: 32px;
                height: 25px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding-bottom: 15px;
                cursor: pointer;

                span {
                    width: 100%;
                    height: 3px;
                    background-color: white;
                    transform-origin: left;
                    transition: all 1s ease;
                }
            }

        }
    }

    &.active {
        background-color: white;
        color: $mainColor;

        .hamburger {
            span {
                &:first-child {
                    background-color: $mainColor;
                    transform: rotate(45deg);
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:last-child {
                    background-color: $mainColor;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}