@import '../../global.scss';

.navbar {
    position: relative;
    top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    height: 60px;
    width: 100vw;
    z-index: 3;
    background-color: rgba(black, 1);
    overflow-y: hidden;
    overflow-x: hidden;
    transition: all 1.5s ease;

    .wrapper {
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .left {
            .logocontainer {
                display: flex;
                align-items: center;
                margin-left: 20px;
                margin-right: 110px;

                .logo {
                    height: 50px;
                    padding-top: 5px;
                }
            }
        }

        .middle {
            display: flex;
            flex: 1;
            justify-content: center;

            @include for-phone-only {
                display: none;
            }

            .navlink {
                display: flex;
                align-items: center;
                margin: 0 20px;
                flex-shrink: 0;

                .link {
                    color:white;
                    padding: 3px;
                    text-decoration: none;
                    border: 1px solid transparent;
                    font-size: 1rem;
                }

                .link:hover {
                    color: $mainColor;
                }
            }
        }
            
        .right {
            display: flex;

            .itemContainer {                
                display: flex;
                align-items: center;
                margin: 0 20px;

                .icon {
                    font-size: 20px;
                    color: white;
                }

                .github {
                    :hover {
                        color: rgb(189, 189, 189);
                    }
                }

                .linkedin {
                    :hover {
                        color: #0072b1;
                    }
                }

                .youtube {
                    :hover {
                        color: red;
                    }
                }
    
                span {
                    font-size: 15px;
                    margin-left: 2px;
                    font-weight: bold;
                }
            }
        }
    }
}