@import '../../global.scss';

.navbar {
    background-color: black;
    position: fixed;
    top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    width: 100vw;
    z-index: 3;
    //overflow-y: hidden;
    //transition: all 1s ease;

    .wrapper {
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .left {
            .logocontainer {
                display: flex;
                align-items: center;
                margin-left: 20px;
                margin-right: 85px;

                .logo {
                    height: 50px;
                    padding-top: 5px;
                }
            }
        }

        .middle {
            display: flex;
            
            .navlink {
                display: flex;
                align-items: center;
                margin: 0 20px;

                .link {
                    color:white;
                    padding: 3px;
                    text-decoration: none;
                    border: 1px solid transparent;
                }

                .link:hover {
                    background-color: rgba(128, 128, 128, 20%);
                    border-radius: 7px;
                    border-color: white;
                }
            }
        }
            
        .right {
            display: flex;

            .itemContainer {                
                display: flex;
                align-items: center;
                margin: 0 20px;

                .icon {
                    font-size: 20px;
                    color: white;
                }

                .github {
                    :hover {
                        color: rgb(189, 189, 189);
                    }
                }

                .linkedin {
                    :hover {
                        color: #0072b1;
                    }
                }

                .youtube {
                    :hover {
                        color: red;
                    }
                }
    
                span {
                    font-size: 15px;
                    margin-left: 2px;
                    font-weight: bold;
                }
            }
        }
    }
}